{# @var version \craft\elements\Entry #}


{% extends "_layouts/cp" %}

{% set id = craft.app.request.param('id') %}
{% set site = craft.app.request.param('site') %}
{% if not id or not site %}
    {% exit 400 %}
{% endif %}

{% set entry = craft.versions.entryById(id, site) %}
{% if not entry %}
    {% exit 404 %}
{% endif %}


{% set title = "#{entry.section.name} #{entry.title}: #{'Drafts and Revisions'|t('versions')}" %}

{% block actionButton %}
    <a class="btn" href="{{ craft.app.request.referrer }}">{{ "Back"|t('versions') }}</a>
{% endblock %}

{% block sidebar %}
    {% set entries = entry.entriesForAllSites %}

    {% if entries|length > 1 %}
    <nav>
        <ul>
            <li class="heading"><span>{{ "By sites"|t('versions') }}</span></li>
            {% for curEntry in entries
                if currentUser.can("editsite:#{curEntry.site.uid}")  %}
                <li>
                    <a class="{{ site == curEntry.site.handle ?'sel' }}"
                       href="{{ cpUrl('versions/drafts-revisions',{id:id, site:curEntry.site.handle}) }}">
                        <span class="label">{{ curEntry.site.name }}</span></a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    {% endif %}
{% endblock %}


{% block content %}

    {% include 'versions/versions_content.twig' with {entry:entry, id:id, site:site} only %}

{% endblock %}


