{% extends "_layouts/cp" %}
{% set title = 'Drafts'|t('versions') %}

{% set allowedSites = craft.versions.getAllowedSitesForUser(currentUser) %}

{% if not allowedSites|length %}
    {% exit 403 %}
{% endif %}

{% set status = craft.app.request.param('status') ?: 'all' %}
{% set site = craft.app.request.param('site') ?: allowedSites %}
{% set preferSite = craft.app.request.param('site') ?: craft.app.sites.primarySite.handle %}


{% set entries = craft.versions.getAllDrafts(site, allowedSites[0]) %}

{% block sidebar %}
    <nav>
        <ul>
            <li class="heading"><span>{{ "By status"|t('versions') }}</span></li>
            <li>
                <a class="{{ status == 'all' ?'sel' }}" href="{{ cpUrl('versions/drafts',{status:'all'}) }}">
                    <span class="label">{{ "All"|t('versions') }}</span></a>
            </li>
            <li>
                <a class="{{ status == 'unsaved' ?'sel' }}" href="{{ cpUrl('versions/drafts',{status:'unsaved'}) }}">
                    <span class="label">{{ "Unsaved"|t('versions') }}</span></a>
            </li>
            <li>
                <a class="{{ status == 'saved' ?'sel' }}" href="{{ cpUrl('versions/drafts',{status:'saved'}) }}">
                    <span class="label">{{ "Saved"|t('versions') }}</span></a>
            </li>

            {% if allowedSites|length > 1 %}
                <li class="heading"><span>{{ "By sites"|t('versions') }}</span></li>
                {% for handle in allowedSites %}
                    {% set curSite = craft.app.sites.siteByHandle(handle) %}
                    <li>
                        <a class="{{ site == curSite.handle ?'sel' }}"
                           href="{{ cpUrl('versions/drafts',{site:curSite.handle}) }}">
                            <span class="label">{{ curSite.name }}</span></a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </nav>
{% endblock %}


{% block content %}

    {% set showInternal = craft.versions.showInternal %}

    {% set entries = craft.versions.getAllDrafts(site, preferSite) %}

    {% if entries %}
        <table id="entries" class="data fullwidth collapsible">
            <thead>
            <tr>
                <th scope="col">{{ "Title"|t('versions') }}</th>
                <th scope="col">{{ "Name"|t('versions') }}</th>
                <th scope="col">{{ "Slug"|t('versions') }}</th>
                <th scope="col">{{ "Section"|t('versions') }}</th>
                <th scope="col">{{ "Saved?"|t('versions') }}</th>
                <th scope="col">{{ "Author"|t('versions') }}</th>
                <th scope="col">{{ "Date created"|t('versions') }}</th>
                <th scope="col">{{ "Date updated"|t('versions') }}</th>
                {% if showInternal %}
                    <th scope="col">{{ "Internal"|t('versions') }}</th>
                {% endif %}

            </tr>
            </thead>

            <tbody>

            {% for entry in entries if entry.isDraftEditable
                and (status == 'all'
                or (status == 'unsaved' and entry.isUnsavedDraft == true)
                or (status == 'saved' and entry.isUnsavedDraft == false)) %}


                {% set section = entry.section.handle %}
                {% set site = entry.site.handle %}

                <tr data-id="{{ entry.id }}" data-name="{{ entry.title }}">

                    <td data-title="Title">
                        <a class="go" href="{{ cpUrl("entries/#{section}/#{entry.sourceId}", {site:site,draftId:entry.draftId,fresh:entry.isUnsavedDraft}) }}">{{ entry.title?:'[untitled]' }}</a>
                    </td>

                    <td>
                        {{ entry.isDraft ? entry.draftName }}
                    </td>

                    <td data-title="slug">
                        {{ entry.slug }}
                    </td>

                    <td data-title="section">
                        {{ entry.section.name }}
                    </td>

                    <td data-title="Saved">
                        {{ entry.isUnsavedDraft ? 'Unsaved'|t('versions') : 'Saved'|t('versions') }}
                    </td>
                    
                    <td data-title="Author">
                        {{ entry.author.username }}
                    </td>

                    <td data-title="dateCreated">
                        {{ entry.versionCreated|datetime('Y-m-d G:i') }}
                    </td>
                    <td data-title="dateUpdated">
                        {{ entry.dateUpdated|datetime('Y-m-d G:i') }}
                    </td>
                    {% if showInternal %}
                        <td data-title="internal">
                            ID: {{ entry.id }}
                            Draft ID: {{ entry.draftId }}
                            Source ID: {{ entry.sourceId }}
                        </td>
                    {% endif %}

                </tr>

            {% endfor %}

            </tbody>
        </table>
    {% endif %}

{% endblock %}
