<div class="meta">

    {% if not entry.isUnsavedDraft %}
        {% set test = craft.entries.site('*').anyStatus().id(entry.sourceId).one %}

        {% if not test %}
            <div class="versions-danger">
                {{ "This entry is trashed"|t('versions') }}
            </div>
        {% elseif entry.isDraft and test.dateUpdated> entry.versionCreated %}
            <div class="versions-danger">
                {{ "Entry has been updated after this draft has been created"|t('versions') }}!
            </div>
        {% endif %}



    {% endif %}

    {% for draft in drafts %}
        <a class="btn submit versions-button"
           href="{{ draft.cpEditUrl }}&draftId={{ draft.draftId }}">{{ draft.draftName }}</a>
    {% endfor %}

    {% if entry.id and not entry.isUnsavedDraft %}
        <a class="btn versions-button"
           href="{{ cpUrl('versions/drafts-revisions',{id:entry.sourceId, site:entry.site.handle}) }}">{{ "Drafts and Revisions"|t('versions') }}</a>
    {% endif %}
</div>
{% css %}
    .versions-button {
    margin-bottom:6px;
    }
    .versions-danger {
    padding:12px;
    color:red;
    font-weight:bold;
    border: 1px solid red;
    background-color: #FE9E9E;
    margin-bottom:12px;
    }
{% endcss %}

{% if craft.app.plugins.plugin('versions').settings['disablePreviewForSourceEntries'] %}
    {% if not entry.isDraft and not entry.isRevision %}
        {% css %}
            #preview-btn {display:none}
        {% endcss %}
    {% endif %}
{% endif %}
