{% macro versionsTable(heading, versions, baseUrl) %}

    <tr>
        <td class="versions-heading" colspan="8">
            {{ heading }}
        </td>
    </tr>


    {% set count = versions|length %}
    {% if count %}

        {% for version in versions %}
            <tr>
                <td>
                    {% set url = baseUrl ~ (version.isRevision ? '&revisionId=' ~ version.revisionId : '&draftId=' ~ version.draftId) %}
                    <a class="go" href="{{ url }}"><b>{{ version.title }}</b></a>
                </td>
                <td>
                    {{ version.isRevision ? version.revisionLabel : version.draftName }}
                    {% if version.isRevision and loop.index == 1 %}
                        ({{ "Current"|t('versions') }})
                    {% endif %}
                </td>
                <td>
                    {{ version.slug }}
                </td>
                <td>
                    <span class="status {{ version.enabled?'live' }}"></span>
                    <span class="status {{ version.enabledForSite?'live' }}"></span>
                </td>
                <td>
                    {{ version.dateUpdated|datetime('Y-m-d G:i') }}
                </td>
                <td>
                    {{ version.creatorId ? craft.users.id(version.creatorId).one.name }}
                </td>
                <td>
                    {{ version.isRevision ? version.revisionNotes : version.draftNotes }}
                </td>
                <td>
                    ID: {{ version.id }}
                    {{ version.isRevision ? 'Revision ID: ' ~ version.revisionId : 'Draft ID: ' ~ version.draftId }}
                </td>
            </tr>
        {% endfor %}

    {% else %}
        <tr>
            <td colspan="8">
                {{ "Nothing found"|t('versions') }}
            </td>
        </tr>
    {% endif %}
{% endmacro %}
