{% macro versionsTable(heading, versions, baseUrl) %}

    <h2>{{ heading }}</h2>

    {% set count = versions|length %}
    <table class="data  collapsible">
        <thead>
        <tr>
            <th></th>
            <th>{{ "Name"|t('versions') }}</th>
            <th>{{ "Entry ID"|t('versions') }}</th>
            <th>{{ "Version ID"|t('versions') }}</th>
            <th>{{ "Title"|t('versions') }}</th>
            <th>{{ "Slug"|t('versions') }}</th>
            <th>{{ "Status"|t('versions') }}</th>
            <th>{{ "Date created"|t('versions') }}</th>
            <th>{{ "Creator"|t('versions') }}</th>
            <th>{{ "Notes"|t('versions') }}</th>

        </tr>
        </thead>
        {% for version in versions %}
            <tr>
                <td>
                    {% set url = baseUrl ~ (version.isRevision ? '&revisionId=' ~ version.revisionId : '&draftId=' ~ version.draftId) %}
                    <a class="go" href="{{ url }}">{{ version.isRevision ? 'View'|t('versions') : 'Edit'|t('versions') }}</a>
                </td>

                <td>
                    {{ version.isRevision ? version.revisionLabel : version.draftName }}
                </td>
                <td>
                    {{ version.id }}
                </td>
                <td>
                    {{ version.isRevision ? version.revisionId : version.draftId }}
                </td>
                <td>
                    {{ version.title }}
                </td>
                <td>
                    {{ version.slug }}
                </td>
                <td>
                    <span class="status {{ version.enabled?'live' }}"></span>
                    <span class="status {{ version.enabledForSite?'live' }}"></span>
                </td>
                <td>
                    {{ version.dateUpdated|datetime('Y-m-d G:i') }}
                </td>
                <td>
                    {{ version.creatorId ? craft.users.id(version.creatorId).one.name }}
                </td>
                <td>
                    {{ version.isRevision ? version.revisionNotes : version.draftNotes }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endmacro %}
