{% from 'versions/macros.twig' import versionsTable %}

<table class="data fullwidth collapsible">
    <thead>
    <tr>
        <th>{{ "Title"|t('versions') }}</th>
        <th>{{ "Name"|t('versions') }}</th>
        <th>{{ "Slug"|t('versions') }}</th>
        <th>{{ "Status"|t('versions') }}</th>
        <th>{{ "Date updated"|t('versions') }}</th>
        <th>{{ "Creator"|t('versions') }}</th>
        <th>{{ "Notes"|t('versions') }}</th>
        <th>{{ "Internal"|t('versions') }}</th>
    </tr>
    </thead>


    {% set drafts = craft.entries.site(site).anyStatus.draftOf(id).orderBy('id desc').all %}
    {{ versionsTable('Drafts'|t('versions'), drafts, entry.cpEditUrl) }}

    {% set revisions = craft.entries.site(site).anyStatus.revisionOf(id).orderBy('num desc').all %}
    {{ versionsTable('Revisions'|t('versions'), revisions, entry.cpEditUrl) }}

</table>

<p>
{{ "Maximal number of saved revisions"|t('versions') }}: {{ craft.app.config.general.maxRevisions }}
</p>

{% css %}
    .versions-heading {
        padding:12px 0px 12px 6px !important;
        background-color: #E7EEF3;
        font-weight:bold;
    }
{% endcss %}
