{% from 'versions/macros.twig' import versionsTable %}


{% set showInternal = craft.versions.showInternal %}

<table class="data fullwidth collapsible">
    <thead>
    <tr>
        <th>{{ "Title"|t('versions') }}</th>
        <th>{{ "Name"|t('versions') }}</th>
        <th>{{ "Compare"|t }}</th>
        <th>{{ "Slug"|t('versions') }}</th>
        <th>{{ "Status"|t('versions') }}</th>
        <th>{{ "Date created"|t('versions') }}</th>
        <th>{{ "Date updated"|t('versions') }}</th>
        <th>{{ "Creator"|t('versions') }}</th>
        <th>{{ "Notes"|t('versions') }}</th>
        {% if showInternal %}
        <th>{{ "Internal"|t('versions') }}</th>
        {% endif %}
    </tr>
    </thead>


    {{ versionsTable('Drafts'|t('versions'), entry.drafts, entry.cpEditUrl, showInternal) }}

    {{ versionsTable('Revisions'|t('versions'), entry.revisions, entry.cpEditUrl,showInternal) }}

</table>

<p>
    {{ "Maximal number of saved revisions"|t('versions') }}: {{ craft.app.config.general.maxRevisions }}
</p>

{% css %}
    .versions-heading {
    padding:12px 0px 12px 6px !important;
    background-color: #E7EEF3;
    font-weight:bold;
    }
{% endcss %}
